// //import all Sass files/
@import "config/variables";

@import "global/normalise";
@import "global/mixins";
@import "global/type";

@import "components/button";
@import "components/work";

//misc
body{
    transition: $transition;
    z-index: 999;
}
.darken{
    background-color: rgba(0, 0, 0, .4);
    transition: $transition;
    overflow: hidden;
}
.blue-bg{
    background-color: blue;
    padding: 0 7px;
    color: white !important; 
    display: block;
}

.white *{
    color: $color-white !important;
}

.divider{
    height: 2px;
    width: 87px;
    position: relative;
    margin: 32px auto 72px auto;

    &-orange{
        background-color: $color-orange;
    }
    &-blue{
        background-color: $color-blue;
    }

}


//container
.container{
    height: 100%;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
}

//header
.header{
    width: 100%;
    height: 70px;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
}

.logo{
    height: 100%;
    width: auto;

}
.menu-bars{
    position: absolute;
    height: 35px;
    width: 70px;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 4;

    &.close{

        .bar{
            &:nth-last-of-type(2){
                opacity: 0;
            }
        }

    }

    @media screen and (max-width:$breakpoint-sm){
        right: 0;
    }
}

.bar{
    height: 5px;
    width: 70px;
    background-color: $color-white;
    margin-bottom: 10px;

    &:last-of-type{
        width: 50px;
        margin-bottom: 0;
        margin-left: 20px;
    }

    @media screen and (max-width:$breakpoint-sm){
        width: 50px;

        &:last-of-type{
            width: 30px;
        }
    }
}

.nav{
    height: 100vh;
    width: 200px;
    background-color: $color-white;
    @include flexbox;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 3;

    transform: translateX(100%);
    transition: $transition;
    box-shadow: $box-shadow;

    &-link{
        margin-bottom: 50px;
        height: auto;
        width: auto;

        &:last-of-type{margin: 0;}
    }
}

.open{
    transform: translateX(0);
    transition: $transition;
}


.hero{
    max-height: 1110px;
    width: 100%;
    position: relative;
    background-color: #0F2B9A;
    background-size: cover;
    margin-top: -70px;

    &::before{
        content: "";
        position: absolute;
        display: block;
        height: 2275px;
        width: 100vw;
        background: url('../images/hero-bg.png') bottom center no-repeat;
        background-size: cover;

        @media screen and (max-width: 1051px){
            height: 2000px;
        }
        @media screen and (max-width: $breakpoint-md){
            height: 1750px;
        }
        @media screen and (max-width: 615px){
            height: 1500px;
        }
        @media screen and (max-width: $breakpoint-sm){
            height: 2000px;
        }
        @media screen and (max-width: 345px){
            height: 1850px;
        }
        @media screen and (max-width: 302px){
            height: 1700px;
        }
    }

    &-content-wrapper{
        height: 980px;
        margin-right: 70px;
        position: relative;
        
        @media screen and (max-width: $breakpoint-md){
            height: 850px;

        }
        @media screen and (max-width: 580px){
            height: 700px;
        }
        @media screen and (max-width:323px){
            height: 650px;
        }

        &::before{
            content: "";
            position: absolute;
            display: block;
            height: 980px;
            width: 100%;
            background: url('../images/hero-bg-wave.png') top left no-repeat;
            background-size: contain;

            @media screen and (min-width: 2222px){    
                height: 120%;
            }
            @media screen and (min-width: 2822px){    
                height: 140%;
            }

            @media screen and (max-width: 883px){
                background-size: 110%;
                width: 100vw;
            }
            @media screen and (max-width: 524px){
                background-size: 150%;
            }
            @media screen and (max-width: 411px){
                background-size: 175%;
            }
            @media screen and (max-width: 350px){
                background-size: 200%;
            }
        }
    }

    &-content{
        max-width: 473px;
        height: auto;
        position: relative;
        padding-top: 319px;
        // box-sizing: border-box;
        padding-left: 50px;

        @include flexbox;
        flex-direction: column;

        @media screen and (max-width: $breakpoint-lg){
            padding-top: 200px;
        }
        @media screen and (max-width: $breakpoint-md){
            padding-top: 100px;
        }

        &-title{
            max-height: 193px;
            width: auto;
            text-transform: uppercase;
            letter-spacing: -2.35px;
            position: relative;
            h1 {
                display: inline-block;
            }
        }
        &-info{
            min-height: 72px;
            width: auto;
            margin-top: 16px;
        }
        &-button{
            height: auto;
            width: auto;
            margin-top: 26px;
        }
        
    }
}
.dot{   
    position: relative;
    &::before{
        display: block;
        content: "";
    height: 20px;
    width: 20px;
    position: absolute;
    bottom: 0;
    right: -25px;
    background-color: $color-orange;
    border-radius: 50%;
    }
}

//projects

.projects{
    position: relative;
    height: auto;
    width: auto;
}
.projects-title{
    text-align: center;
    max-width: 834px;
    height: auto;
    margin: 0 auto;
    padding: 0 20px;
}


.testimonials{
    height: 1080px;
    max-width: 1600px;
    position: relative;
    background-color: $color-blue;
    margin:  112px auto 0 auto;


    &-content{
        min-height: 291px;
        max-width: 569px;

        blockquote{
            p{
                @include fontSize(30);
                font-family: $font-family-header;
                line-height: 40px;
                font-weight: $font-weight-light;
                color: $color-white;
            }
        }
        cite{
            font-family: $font-family-h;
            @include fontSize(18);
            text-transform: uppercase;
            color: $color-white;
            font-style: normal;
            letter-spacing: 2.5px;
        }
    }

    .slider-wrapper{
        min-height: 291px;
        width: 100%;
        display: block;
        position: relative;
        top: 25%;
        transform: translateY(-25%);


        .pagination{
            margin: 48px 0 0 0px;
            ul{ 
               @include flexbox;
               flex-direction: row;
                li{ 
                    list-style: none;

                    a{
                    height: 8px;
                    width: 8px;
                    background-color: $color-white;
                    display: block;
                    border-radius: 50%;
                    margin-right: 16px;
                    transition: $transition;
                    border: none;

                    &:hover{
                        transform: scale(1.5);
                        transition: $transition;
                    }

                }
                        .active{
                            background-color: $color-orange;
                            transform: scale(1.5);
                        }
                }
            }
        }
    }


}


.services{
    max-width: 1170px;
    position: relative;
    margin: 0 auto;
    height: 670px;
    background-color: $color-white;
    transform: translateY(-50%);

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    box-shadow: $box-shadow; 

    &-item{
        height: 100%;
        width: 100%;
        @include flexbox;
        flex-direction: row;
        position: relative;
        align-items: center;
        padding-left: 70px;
        box-sizing: border-box;
        border: 1px solid #DBDEE5;

        &-title{}
        &-info{}
        &-cta{
            height: auto;
            width: 100%;
            a{ 
                color: #3A78FF;
                @include fontSize(12);
                letter-spacing: 0.5px;
                font-weight: $font-weight-bold;
                font-family: $font-family-header;
                text-transform: uppercase;

                svg{
                    transform: translate(0 , 22.5%);

                    margin-left: 8px;
                    transition: $transition;
                }

                &:hover{
                    svg{
                    transition: $transition;
                    transform: translate(10px ,22.5%);
                    }
                }
            }
        }
    }

    &-left{
        max-width: 74px;
        height: 149px;
        margin-right: 40px; 
        

        .icon-bg{
            height: 74px;
            width: 74px;
            position: relative;
            border-radius: 50%;

            svg{
                position: absolute;
                left: 50%;
                top:50%;
                transform: translate(-50%, -50%);
            }
            &-blue{
                background-image: linear-gradient(to top, #3c8bff, #3f99ff, #4aa6ff, #5bb3ff, #6fbfff);
            }
            &-green{
                background-image: linear-gradient(to top, #67d591, #75db9e, #84e1ab, #92e6b8, #a1ecc4);
            }
            &-orange{
                background-image: linear-gradient(to top, #ff7d54, #ff8c61, #ff9a6f, #ffa77d, #ffb48d);
            }
            &-purple{
                background-image: linear-gradient(to top, #704ce4, #855feb, #9872f2, #aa85f8, #bb98ff);
            }
        }
    }
    &-right{
        max-width: 355px;
        height: 149px;
        @include flexbox;
        flex-direction: column;
        justify-content: space-between;
    }
}

.codepen{

    &-title{
        text-align: center;
    }

    &-content{
        width: 1170px;
        height: 500px;
        position: relative;
        border: 1px solid green;
        @include flexbox;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        &-item{
            max-height: 603px;
            max-width: 370px;
            position: relative; 
        }
    }
}

.item-{
    &img{
        img{height: auto; width: 100%;}
    }
    &info{
        text-align: center;
        height: auto;
        width: 100%;
    }
}