@import url('https://fonts.googleapis.com/css?family=Oswald|Poppins|Roboto+Slab:300,400');


h1{
    @include font($font-family-h, $color-gray-darker, $font-weight-normal);
    @include fontSize($font-h-lg);
    margin: 0;
    padding: 0;

    @media screen and (max-width: 595px){
        @include fontSize(52);
    }
    // @media screen and (max-width: $breakpoint-md){
    //     @include fontSize($font-h-md);
    // }
    @media screen and (max-width:366px){
        @include fontSize(44);
    }
}
h2{
    @include font($font-family-h, $color-gray-dark, $font-weight-normal, $line-height);
    margin: 0;
    padding: 0;
    @include fontSize($font-h-md);

    @media screen and (max-width:320px){
        @include fontSize(30);
    }
}
h3{
    @include font($font-family-h, $color-h3, $font-weight-normal, 27px);
    margin: 0;
    padding: 0;
    @include fontSize(18);
    text-transform: uppercase;
}

p{
    @include font($font-family-p,  $color-gray, $font-weight-normal, $line-height);
    @include fontSize($font-p);
    margin:  0;
    padding: 0;

    @media screen and (max-width: 320px){
        @include fontSize(12);
    }
}

.heading{
    @include font($font-family-header, $color-white, $font-weight-light, 36px);
    @include fontSize(24);
}

.tag{
    @include font($font-family-p, $color-gray, $font-weight-normal, 16px);
    @include fontSize(13);
}

a{
    @include font($font-family-h, $color-gray, $font-weight-light, $line-height);
    // @include fontSize($font-p);
    text-decoration: none;

    &:hover{
        opacity: 1 !important;
    }
}